target/
localstack/
.idea/

*.iml

.classpath

.project

.setti*gs/

.DS_Store

*.log

.env*

# Maven
backend/photo-sharing-api/target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
